[access "refs/heads/*"]
abandon = group Change Owner
abandon = group checkmk-agent-maintainers
label-Code-Review = -2..+2 group checkmk-agent-maintainers
label-Workflow = -1..+1 group infra-core

[submit]
mergeContent = true
action = rebase if necessary
[access "refs/tags/*"]
create = group checkmk-agent-maintainers
push = +force group checkmk-agent-maintainers
pushTag = +force group checkmk-agent-maintainers
pushSignedTag = group checkmk-agent-maintainers
