[access "refs/heads/*"]
abandon = group Change Owner
abandon = group ops-restapi-maintainers
label-Code-Review = -2..+2 group ops-restapi-maintainers
label-Workflow = -1..+1 group infra-core

[access "refs/tags/*"]
create = group ops-restapi-maintainers
push = +force group ops-restapi-maintainers
pushTag = +force group ops-restapi-maintainers
pushSignedTag = group ops-restapi-maintainers
