[access "refs/heads/*"]
	abandon = group Change Owner
	abandon = group ovs-maintainers
	label-Code-Review = -2..+2 group ovs-maintainers
	label-Workflow = -1..+1 group infra-core
	push = +force group ovs-maintainers
	push = block group Registered Users
	pushMerge = group ovs-maintainers
	forgeAuthor = group ovs-maintainers
	forgeCommitter = group ovs-maintainers
	create = group ovs-maintainers
	label-Verified = -2..+2 group ovs-maintainers
	submit = group ovs-maintainers

[submit]
	mergeContent = true
	action = rebase if necessary

[access "refs/heads/patches/*"]
	create = group ovs-maintainers
	submit = group ovs-maintainers
	rebase = group Registered Users
	push = +force group ovs-maintainers
	pushTag = +force group ovs-maintainers
	pushSignedTag = group ovs-maintainers

[access "refs/for/patches/*"]
	push = group Registered Users

[access "refs/for/feature/*"]
	create = group Registered Users
	push = group Registered Users
	rebase = group Registered Users
	submit = group ovs-maintainers

[access "refs/tags/*"]
	create = group ovs-maintainers
	push = +force group ovs-maintainers
	pushTag = +force group ovs-maintainers
	pushSignedTag = group ovs-maintainers
